<html>
<head>
    <meta charset="utf-8">
</head>

<body>
    $ var book = data.book;
    <p>ID: ${book.id}</p>
    <p>Título: ${book.titulo}</p>
    <p>Preço: ${book.preco}</p>
    <p>Descrição: ${book.descricao}</p>

    <p><a href="/books">Listagem</a></p>
</body>
</html>