<html>
<head>
</head>
    <meta charset="utf-8">
<body>
    <h1>Listagem dos livros</h1>

    <table id="books">
        <tr>
            <td>ID</td>
            <td>Título</td>
            <td>Preço</td>
            <td>Editar</td>
            <td>Remover</td>
        </tr>
        <tr id="book_${book.id}" for (book in data.books)>
            <td>${book.id}</td>
            <td>${book.titulo}</td>
            <td>${book.preco}</td>
            <td><a href="#">Editar</a></td>
            <td><a href="#" data-ref="${book.id}" data-type="remove">Remover</a></td>
        </tr>
    </table> 

    <p><a href="/books/form">Novo Livro</a></p>

    <script src="/static/js/remove-livro.js"></script>
</body>
</html>